@import "styles/variables";

.loader {
  border-radius: 50px;
  display: block;
  margin: 50vh auto;
  animation: 1.5s linear 0s infinite loaderAnimation;
  border-style: solid;
  border-color: $red;
  border-right-color: transparent;
  transform: rotate(35deg);

  &_size {
    &_l {
      border-width: 6px;
      width: 50px;
      height: 50px;
    }

    &_m {
      border-width: 4.5px;
      width: 40px;
      height: 40px;
    }

    &_s {
      border-width: 3px;
      width: 20px;
      height: 20px;
    }
  }
}

@keyframes loaderAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
