@import "styles/variables";

.item {
  cursor: pointer;

  display: block;

  width: 100%;
  padding: 10px 0;
  padding-left: 10px;

  font-family: $avenir-font;
  font-size: 12px;
  font-weight: 400;
  color: $black;
  text-align: left;

  background: $white;
  border: none;
  outline: none;

  &_selected {
    background-color: $white-red;
  }
}
