@import url(https://fonts.cdnfonts.com/css/avenir-lt-pro);
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap);
@import url(https://fonts.cdnfonts.com/css/avenir-lt-pro);
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap);
@import url(https://fonts.cdnfonts.com/css/avenir-lt-pro);
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap);
@import url(https://fonts.cdnfonts.com/css/avenir-lt-pro);
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap);
@import url(https://fonts.cdnfonts.com/css/avenir-lt-pro);
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap);
@import url(https://fonts.cdnfonts.com/css/avenir-lt-pro);
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap);
@import url(https://fonts.cdnfonts.com/css/avenir-lt-pro);
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap);
@import url(https://fonts.cdnfonts.com/css/avenir-lt-pro);
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap);
@import url(https://fonts.cdnfonts.com/css/avenir-lt-pro);
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap);
@import url(https://fonts.cdnfonts.com/css/avenir-lt-pro);
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap);
.sEB2C17PuHxoJ7pEbi2P{-webkit-transform:rotate(35deg);transform:rotate(35deg);display:block;margin:50vh auto;border-color:red;border-style:solid;border-right-color:rgba(0,0,0,0);border-radius:50px;-webkit-animation:1.5s linear 0s infinite s5qW2v5cZNtyyAoEGQy9;animation:1.5s linear 0s infinite s5qW2v5cZNtyyAoEGQy9}.d4PYILphkq4La0rwfmR2{width:50px;height:50px;border-width:6px}.nnBRqvv6k08bTTScx07e{width:40px;height:40px;border-width:4.5px}.uRNmVrYI7_WNmvV0bUAj{width:20px;height:20px;border-width:3px}@-webkit-keyframes s5qW2v5cZNtyyAoEGQy9{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes s5qW2v5cZNtyyAoEGQy9{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
.bZFsgJ1ELgKFcp1rn2wC{position:relative;z-index:2;min-width:375px;margin-top:-15px;padding:68px 33px;background-color:#fff7f7;border-top-left-radius:7px;border-top-right-radius:7px}.A8UBtTuUr40spqiOfqS2{width:60%;font-family:"Avenir LT Pro",sans-serif;font-size:27;font-weight:500;line-height:38px;color:#0d0d0d;text-align:left}.vkBHE8cFlN7X8tgOo_Z8{display:flex;flex-wrap:nowrap;justify-content:space-between;margin-top:20px}.IYOC4TEwu4TEM7oR9a6N{display:flex;flex-wrap:nowrap;align-items:center;justify-content:space-between}.COLJ2AB0eds5_9aLMvqh{margin-left:15px;font-family:"Avenir LT Pro",sans-serif;font-size:14px;font-weight:400;color:rgba(59,59,59,.4)}.kSc1cpmP7TWk4L4Qnyqi{display:flex;flex-wrap:nowrap;align-items:center;justify-content:space-between;margin-right:auto;margin-left:30px}.KOURPIGmwSCZaFhzF_U2{margin-left:15px;font-family:"Avenir LT Pro",sans-serif;font-size:14px;font-weight:400;color:rgba(59,59,59,.4)}.H0v7wA8oGjCYGuL0MT1E{margin-top:25px;font-family:"Avenir LT Pro",sans-serif;font-size:16px;font-weight:400}
.tTEV0kjYJhQ8f3xmBlCE{width:100%;min-width:375px;height:100%}.KY6RdCYIXaN22MKINEZv{position:relative}.KY6RdCYIXaN22MKINEZv img{width:100%;margin:0 auto}.ciYoCeHbT00jtl96nquA{cursor:pointer;content:"";position:absolute;top:45px;left:35px;width:45px;height:45px;background-color:rgba(255,247,247,.3);border-radius:7px}.ciYoCeHbT00jtl96nquA img{content:"";position:absolute;top:0;right:0;bottom:0;left:0;width:10px;height:16px;margin:auto}
.VjgLxDfaqfdjkYbrQ43O{display:flex;flex-direction:column;flex-grow:1;gap:1;justify-content:space-between;width:155px;padding:8px 12px;border-radius:10px;box-shadow:0 1px 8px rgba(0,0,0,.12)}.VjgLxDfaqfdjkYbrQ43O:hover{cursor:pointer;-webkit-transform:1.2;transform:1.2}.YoGXKIrmIFUifXfBjOcW{display:block;width:100%;margin:3px auto}.aVqnp81Q1k8j4GltUCrW{margin-top:5px;margin-bottom:0;font-family:"Avenir LT Pro",sans-serif;font-size:18px;font-weight:500;line-height:25px;color:#0d0d0d;letter-spacing:-0.03em}.NoUdJPVi1MYaaHWWD6u9{overflow:hidden;display:-webkit-box;max-height:32px;margin-top:4px;font-family:"Avenir LT Pro",sans-serif;font-size:12px;font-weight:400;line-height:16px;color:#3b3b3b;text-overflow:ellipsis;letter-spacing:-0.03em;opacity:.5;-webkit-box-orient:vertical;-webkit-line-clamp:2}.YXycoE6rTLtdOTOmf10G{display:flex;flex-flow:row nowrap;align-items:center;justify-content:space-between}.tWFE79iQzKjXm5dYcEYx{font-family:"DM Sans",sans-serif;font-size:14px;font-weight:700;color:red}
.v6MeJkEhbTQrjmFVOusq{display:flex;flex-direction:column;width:100%;min-width:375px;height:100%}.v6MeJkEhbTQrjmFVOusq>img{position:absolute;z-index:-1;top:0;right:0;opacity:.1}.vNTagq6uXAatbyyfQehB{margin:24px 32px 0}.ELp7hRDmKFDYqcivX1lg{display:flex;flex-wrap:wrap;gap:33px 17px;margin:20px 24px}
.iXJnFs2Z1ZkB56Tyyzx_{width:100%;padding:10px 0;padding-left:10px;font-family:"Avenir LT Pro",sans-serif;font-size:12px;font-weight:400;line-height:16px;color:#3b3b3b;letter-spacing:.01em;background:linear-gradient(98.81deg, #fff0f0 -0.82%, #ffdfdf 101.53%);border:none;border-radius:7px;outline:none}.CJm_QT9LE62M0SadeNVB{background:#d9d9d9}.iXJnFs2Z1ZkB56Tyyzx_:focus{color:#0d0d0d;background:linear-gradient(98.81deg, #ffbcbc -0.82%, #ffa1a1 101.53%)}
.L6QdwTN9uOYDGPAtSrmV{position:relative;display:flex;flex-direction:column}._6lebBGvzmgV3ZW4rZ9o{cursor:pointer;margin-bottom:3px;padding:10px 0;padding-left:10px;font-family:"Avenir LT Pro",sans-serif;font-size:12px;font-weight:400;text-align:left;background:linear-gradient(98.81deg, #fff0f0 -0.82%, #ffdfdf 101.53%);border:none;border-radius:7px;outline:none}.Df7mXk972_nBYcHheyJp{color:rgba(59,59,59,.5);background:linear-gradient(98.81deg, #f2f2f2 -0.82%, #d9d9d9 101.53%)}.PrgM_ma0wge0WJ1rLGOX{position:absolute;z-index:10;top:100%;overflow:hidden;width:100%;border-radius:7px}
.j5Jif_INpgDuHxAtazPj{cursor:pointer;display:block;width:100%;padding:10px 0;padding-left:10px;font-family:"Avenir LT Pro",sans-serif;font-size:12px;font-weight:400;color:#0d0d0d;text-align:left;background:#fff7f7;border:none;outline:none}.IlqhvJPw6V6Lg8qWqy3g{background-color:#ffe5e5}
.JZUSaipGsohuo99B7nP_{display:flex;flex-direction:row;justify-content:space-between}.ufrD7U0yBnVxtNdktY_4{cursor:pointer;position:relative;width:36px;height:36px;margin-left:8px;background:red;border:0;border-radius:7px;outline:none}.JZUSaipGsohuo99B7nP_ img{content:"";position:absolute;top:0;right:0;bottom:0;left:0;margin:auto}.HG4rAUPsbkITaixH31Jz{width:50%;margin-top:16px;margin-right:0;margin-left:auto}.YDOwRke86ci1nfiO2XfG{font-family:"Avenir LT Pro",sans-serif;font-size:18px;font-weight:300}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

body{overflow-x:hidden;min-width:375px;max-width:540px;margin:0 auto;font-family:"Avenir LT Pro",sans-serif;font-size:16px}img{max-width:100%}
