@import url('https://fonts.cdnfonts.com/css/avenir-lt-pro');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

$red: #FF0000;
$red-light: rgba(255, 0, 0, 0.5);
$grey-back: #D9D9D9;
$grey-text: #3B3B3B;
$white:#FFF7F7;
$white-red:#FFE5E5;

$red-gradient: linear-gradient(98.81deg, #FFBCBC -0.82%, #FFA1A1 101.53%);
$light-red-gradient:  linear-gradient(98.81deg, #FFF0F0 -0.82%, #FFDFDF 101.53%);
$grey-gradient: linear-gradient(98.81deg, #F2F2F2 -0.82%, #D9D9D9 101.53%);


$avenir-font: 'Avenir LT Pro', sans-serif;
$dm-sans-font: 'DM Sans', sans-serif;