@import "styles/variables";

.multi-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;

  &__button {
    cursor: pointer;

    margin-bottom: 3px;
    padding: 10px 0;
    padding-left: 10px;

    font-family: $avenir-font;
    font-size: 12px;
    font-weight: 400;
    text-align: left;

    background: $light-red-gradient;
    border: none;
    border-radius: 7px;
    outline: none;

    &_disabled {
      color: rgba($grey-text, 0.5);
      background: $grey-gradient;
    }
  }

  &__items {
    position: absolute;
    z-index: 10;
    top: 100%;

    overflow: hidden;

    width: 100%;

    border-radius: 7px;
  }
}
